.Divider4108346001--root {
  -st-states: vertical, customDivider;
}

.Divider4108346001--root[data-divider4108346001-customdivider] {
  reset: all;
}

.Divider4108346001--root:not([data-divider4108346001-customdivider]) {
  height: 1px;
  background-color: black;
  opacity: initial;
  margin-top: initial;
  margin-bottom: initial;
}

.Divider4108346001--root[data-divider4108346001-vertical] {
  height: auto;
  width: 1px;
}

.Popover464302540--root {
  display: inline-block;
  position: relative;
}

.Popover464302540--root .Popover464302540--popoverContent {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: initial;
  padding: initial;
}

.Popover464302540--root .Popover464302540--arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.Popover464302540--root .Popover464302540--popoverContentContainer {
  z-index: 1000;
  min-width: 100%;
}

.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="right"] {
  padding-left: 5px;
}


.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="right"] .Popover464302540--arrow {
  border-width: 5px 5px 5px 0;
  left: calc(-1 * 5px);
  margin-left: 5px;
  margin-right: 0;
  border-color: transparent black transparent transparent;
}

.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="left"] {
  padding-right: 5px;
}

.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="left"] .Popover464302540--arrow {
  border-width: 5px 0 5px 5px;
  right: calc(-1 * 5px);
  margin-left: 0;
  margin-right: 5px;
  border-color: transparent transparent transparent black;
}

.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="bottom"] {
  padding-top: 5px;
}

.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="bottom"] .Popover464302540--arrow {
  border-width: 0 5px 5px 5px;
  top: calc(-1 * 5px);
  margin-top: 5px;
  margin-bottom: 0;
  border-color: transparent transparent black transparent;
}

.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="top"] {
  padding-bottom: 5px;
}

.Popover464302540--root .Popover464302540--popoverContentContainer[data-placement="top"] .Popover464302540--arrow {
  border-width: 5px 5px 0 5px;
  bottom: calc(-1 * 5px);
  margin-top: 0;
  margin-bottom: 5px;
  border-color: black transparent transparent transparent;
} 

.Tooltip2290157207--root.Popover464302540--root {
  -st-extends: Popover;
}

.ToggleSwitch2321882239--root {
  -st-states: checked, disabled;
  display: inline-flex;
  align-items: center;
  position: relative;
  outline: none
}

.ToggleSwitch2321882239--root > input[type=checkbox] {
  display: none;
}

.ToggleSwitch2321882239--root .ToggleSwitch2321882239--outerLabel {
  display: inline-block;
  cursor: pointer;
}

.ToggleSwitch2321882239--root .ToggleSwitch2321882239--innerLabel {
  display: flex;

  position: absolute;
  left: 1px;
  z-index: 1;

  text-align: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  top: 50%;
  transform: translate(0, -50%);
}

.ToggleSwitch2321882239--root .ToggleSwitch2321882239--toggleIcon {}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root {
  -st-extends: ToggleSwitch;
  width: initial;
  height: initial;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root .ToggleSwitch2321882239--outerLabel, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root .ToggleSwitch2321882239--innerLabel {
  border-radius: 50px;
  transition: all 0.3s ease;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root .ToggleSwitch2321882239--outerLabel {
  width: 45px;
  height: 24px;
  background-color: grey;
  border-width: 0;
  border-color: white;
  border-style: solid;
  box-sizing: border-box;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root .ToggleSwitch2321882239--innerLabel {
  width: 21px;
  height: 22px;
  background-color: white;
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.2);
  border-width: 0;
  border-color: white;
  border-style: solid;
  box-sizing: border-box;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root .ToggleSwitch2321882239--toggleIcon {
  display: none;
  width: 8px;
  height: 6px;
  transition: all 0.3s cubic-bezier(1, 0, 1, 0);
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root .ToggleSwitch2321882239--toggleIcon path {
  fill: white;
}


/* checked state */

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-checked] .ToggleSwitch2321882239--outerLabel {
  background-color: grey;
  border-width: 0;
  border-color: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-checked] .ToggleSwitch2321882239--innerLabel {
  background-color: white;
  border-width: 0;
  border-color: white;
  left: 23px;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-checked] .ToggleSwitch2321882239--toggleIcon {
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
  fill: white;
}

/* disabled state */

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled] .ToggleSwitch2321882239--outerLabel, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled]:hover .ToggleSwitch2321882239--outerLabel, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled][data-toggleswitch2321882239-checked] .ToggleSwitch2321882239--outerLabel, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled][data-toggleswitch2321882239-checked]:hover .ToggleSwitch2321882239--outerLabel {
  background-color: grey;
  cursor: default;
  border-width: 0;
  border-color: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled] .ToggleSwitch2321882239--innerLabel, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled]:hover .ToggleSwitch2321882239--innerLabel, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled][data-toggleswitch2321882239-checked] .ToggleSwitch2321882239--innerLabel, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled][data-toggleswitch2321882239-checked]:hover .ToggleSwitch2321882239--innerLabel {
  background-color: white;
  cursor: default;
  border-width: 0;
  border-color: white
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled] .ToggleSwitch2321882239--toggleIcon, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled]:hover .ToggleSwitch2321882239--toggleIcon {
  fill: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled][data-toggleswitch2321882239-checked] .ToggleSwitch2321882239--toggleIcon, .ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-disabled][data-toggleswitch2321882239-checked]:hover .ToggleSwitch2321882239--toggleIcon {
  fill: white;
}

/* hover state */

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root:hover .ToggleSwitch2321882239--outerLabel {
  background-color: grey;
  border-width: 0;
  border-color: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-checked]:hover .ToggleSwitch2321882239--outerLabel {
  background-color: grey;
  border-width: 0;
  border-color: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root:hover .ToggleSwitch2321882239--innerLabel {
  background-color: white;
  border-width: 0;
  border-color: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-checked]:hover .ToggleSwitch2321882239--innerLabel {
  background-color: white;
  border-width: 0;
  border-color: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root:hover .ToggleSwitch2321882239--toggleIcon {
  fill: white;
}

.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root[data-toggleswitch2321882239-checked]:hover .ToggleSwitch2321882239--toggleIcon {
  fill: white;
}

/* focus state */
.ToggleSwitchStyle955881948--root.ToggleSwitch2321882239--root:focus {
  outline: none;
}
.DropdownOption3078194345--root {
  -st-states: hovered, disabled, selected;
}

.DropdownOption3078194345--root[data-dropdownoption3078194345-hovered] {
  background-color: lightgrey;
}

.DropdownOption3078194345--root[data-dropdownoption3078194345-disabled] {
  background-color: white;
}

.DropdownOption3078194345--root[data-dropdownoption3078194345-selected] {
  background-color: grey;
}

.DropdownOption3078194345--root[data-dropdownoption3078194345-selected][data-dropdownoption3078194345-hovered] {
  background-color: dimgrey;
}

.DropdownContent3101824671--root {
  outline: 0;
}

.DropdownContent3101824671--root .DropdownContent3101824671--optionsContainer {
  outline: 0;
  overflow: auto;
}

.DropdownContent3101824671--root .DropdownContent3101824671--dropdownOption.DropdownOption3078194345--root {
  -st-extends: DropdownOption;
}

.Dropdown3661727501--root.Popover464302540--root {
  -st-extends: Popover;
}

.Dropdown3661727501--root .Dropdown3661727501--dropdownContent.DropdownContent3101824671--root {
  -st-extends: DropdownContent;
}

.IconWithOptions2299962843--root.Dropdown3661727501--root {
  -st-extends: Dropdown;
}

.InputWithOptions60742293--root.Dropdown3661727501--root {
  -st-extends: Dropdown;
}

.Input2637158475--root {
    -st-states: disabled;
    font-family: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", "Helvetica Neue", "Helvetica", "Arial", "メイリオ, meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    
    box-sizing: border-box;
    text-align: left;
    cursor: text;
    outline: none;
  }

.MultiCheckbox3852252565--root.InputWithOptions60742293--root {
  -st-extends: InputWithOptions;
}

.Checkbox3876321046--root {
    -st-states: checked, disabled, indeterminate, readonly, focus, error;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.Checkbox3876321046--root .Checkbox3876321046--box {
    display: inline-block;
    position: relative;
    height: 1rem;
    width: 1rem;
}

.Checkbox3876321046--root .Checkbox3876321046--icon {
    position: absolute;
    height: 100%;
    width: 100%;
    background: no-repeat 0 0 / 100%;
}

.Checkbox3876321046--root .Checkbox3876321046--tickIcon {}
.Checkbox3876321046--root .Checkbox3876321046--indeterminateIcon {}
.Checkbox3876321046--root[data-checkbox3876321046-disabled] .Checkbox3876321046--tickIcon {}
.Checkbox3876321046--root[data-checkbox3876321046-disabled] .Checkbox3876321046--indeterminateIcon {}


.Checkbox3876321046--root .Checkbox3876321046--nativeCheckbox {
    position: fixed;
    top: -100%;
    opacity: 0;
}

.Checkbox3876321046--root .Checkbox3876321046--childContainer {
    display: inline;
}

.CheckboxStyle261032101--root.Checkbox3876321046--root {
  -st-extends: Checkbox;
  width: initial;
  height: initial;
}

.CheckboxStyle261032101--root.Checkbox3876321046--root .Checkbox3876321046--box {
    background: #ffffff;
    border: solid 1px #c8c8c8;
}

.CheckboxStyle261032101--root.Checkbox3876321046--root[data-checkbox3876321046-checked] .Checkbox3876321046--box,
.CheckboxStyle261032101--root.Checkbox3876321046--root[data-checkbox3876321046-indeterminate] .Checkbox3876321046--box {
    background: #4a90e2;
}

.CheckboxStyle261032101--root.Checkbox3876321046--root[data-checkbox3876321046-disabled] .Checkbox3876321046--box {
    background: #f1f1f1;
}

.CheckboxStyle261032101--root.Checkbox3876321046--root[data-checkbox3876321046-focus] .Checkbox3876321046--box {
    outline: 4px solid rgba(92, 180, 255, 0.5);
}

.CheckboxStyle261032101--root.Checkbox3876321046--root .Checkbox3876321046--tickIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTExLjggNEw2LjUgOS4yIDQuMiA3IDMgOC4ybDMuNSAzLjZMMTMgNS4yIi8+PC9zdmc+);
}

.CheckboxStyle261032101--root.Checkbox3876321046--root .Checkbox3876321046--indeterminateIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTQgN2g4djJINHoiLz48L3N2Zz4=);
}

.CheckboxStyle261032101--root.Checkbox3876321046--root[data-checkbox3876321046-disabled] .Checkbox3876321046--tickIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTExLjggNEw2LjUgOS4yIDQuMiA3IDMgOC4ybDMuNSAzLjZMMTMgNS4yIi8+PC9zdmc+);
}

.CheckboxStyle261032101--root.Checkbox3876321046--root[data-checkbox3876321046-disabled] .Checkbox3876321046--indeterminateIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTQgN2g4djJINHoiLz48L3N2Zz4=);
}
